
# Включаем mod_rewrite
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Если запрашиваемый ресурс не файл и не директория, перенаправляем на index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Установить правильные MIME-типы
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
  AddType image/svg+xml .svg
</IfModule>

# Включить сжатие
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/css application/javascript application/json image/svg+xml
</IfModule>
